html,
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

@media (max-width:1200px) {

    html,
    body {
        font-size: 0.1vw;
    }
}

@media (min-width:1200px) {

    html,
    body {
        font-size: 1.2px;
    }
}

@media (max-width:800px) {

    html,
    body {
        font-size: 0.8px;
    }
}

:root {
    --toolbox-width: 2.4em;
    --ctrlbox-width: 240rem;
    --command_status_height:26px;
}


.tip {
    display: block;
    white-space: nowrap;
    color: var(--colorB1);
    font-size: 12px;
    word-spacing: 0;
    transform: scale(0.9);
}

.dom-Body-Root {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-size: 16px;
}

.canvas-box {
    position: absolute;
    background-color: var(--colorB5);
    left: var(--toolbox-width);
    right: var(--ctrlbox-width);
    height: 100%;
    width: auto;
}

.canvas-view {
    width: 100%;
    height: 100%;
}

.canvas-view div {
    pointer-events: none;
}

.canvas {
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: 0 0;
    background-size: 50%;
    background-color: var(--colorB);
}

.toolBox-box {
    position: absolute;
    left: 0;
    width: var(--toolbox-width);
    height: 100%;
    border-right: var(--colorD3) solid 2px;
    background-color: var(--colorD0);
}

.ctrlBox-box {
    position: absolute;
    right: 0;
    width: var(--ctrlbox-width);
    height: 100%;
    border-left: #080 solid 2px;
    background-color: #020;
    color: var(--colorDT);
    user-select: none;
}

.ctrlBox-box label {
    font-size: 12px;
}

.toolBox-item {
    width: 100%;
    height: min-content;
    border: #080 solid 1px;
}

.toolBox-item-icon {
    display: block;
    width: 100%;
    padding-top: 100%;
    background-color: var(--colorD);
    /* cursor: pointer; */
}

.toolBox-item:hover .toolBox-item-icon {
    background-color: var(--colorC);
}


.ctrlBox-subModuleBox {
    padding: 2px;
    border: var(--colorD) solid 1px;
    margin: 2px;
}

.ctrlBox-Matrix2x2T-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.ctrlBox-Matrix2x2T-main span {
    padding-left: 0.2em;
    padding-right: 0.2em;

    pointer-events: none;
}

.ctrlBox-Matrix2x2T-main input {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 2.5em;
    color: var(--colorCT);
    background-color: var(--colorB5);
}

.ctrlBox-Matrix2x2T-buttons {
    /* display: grid; */
    /* grid-template-columns:1fr 1fr; */
    text-align: end;
    word-spacing: -0.5em;
}

.ctrlBox-Matrix2x2T-button {
    display: inline-block;
    vertical-align: text-bottom;
}

.ctrlBox-tgtAssets_main {
    height: 244px;
    overflow-y: scroll;
    overflow-x: hidden;
}


.ctrlBox-tgtAssets-item-color_0 {
    background-color: var(--colorC);
    color: var(--colorD);
    border-color: var(--colorE);
}

.ctrlBox-tgtAssets-item-color_1 {
    background-color: var(--colorD);
    color: var(--colorE);
    border-color: var(--colorC);
}

.ctrlBox-tgtAssets-item-color_2 {
    background-color: var(--colorE);
    color: var(--colorC);
    border-color: var(--colorD);
}

/* 
.ctrlBox-tgtAssets-item-color_0 .iconSpritesSvg{
    background-color: var(--colorE);
}
.ctrlBox-tgtAssets-item-color_1 .iconSpritesSvg{
    background-color: var(--colorC);
}
.ctrlBox-tgtAssets-item-color_2 .iconSpritesSvg{
    background-color: var(--colorD);
}
.ctrlBox-tgtAssets-item-color_0 .ctrlBox-tgtAssets-visibility{
    background-color: var(--colorD);
}
.ctrlBox-tgtAssets-item-color_1 .ctrlBox-tgtAssets-visibility{
    background-color: var(--colorE);
}
.ctrlBox-tgtAssets-item-color_2 .ctrlBox-tgtAssets-visibility{
    background-color: var(--colorC);
} */


.ctrlBox-tgtAssets-item {
    line-height: 1.25em;
    height: 1.25em;
    width: auto;
    padding-left: 2.2em;
}

.ctrlBox-tgtAssets-focusBtn,
.ctrlBox-tgtAssets-focusBtn::before {
    display: block;
    position: absolute;
    left: 0.3em;
    top: 50%;
    width: 0.8em;
    height: 0.8em;
    border: var(--colorA) 0.08em solid;
    border-radius: 50%;
    background-color: var(--colorA3);
    transform: translateY(-50%);
}

.ctrlBox-tgtAssets-focusBtn::before,
.ctrlBox-tgtAssets-focusBtn-selecting::before {
    width: 80%;
    height: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #888;
    border-style: none;
    border-width: 0;
}

.ctrlBox-tgtAssets-focusBtn-selecting::before {
    background-color: #dfd;
    border-radius: 50%;
}

.ctrlBox-tgtAssets-focusBtn-editing::before {
    background-color: #fff;
    border-radius: 0%;
}

.ctrlBox-tgtAssets-focusBtn-editing.ctrlBox-tgtAssets-focusBtn,
.ctrlBox-tgtAssets-focusBtn-selecting.ctrlBox-tgtAssets-focusBtn {
    border-radius: 0%;
}

.ctrlBox-tgtAssets-focusBtn-editing.ctrlBox-tgtAssets-focusBtn::before,
.ctrlBox-tgtAssets-focusBtn-selecting.ctrlBox-tgtAssets-focusBtn::before {
    content: "";
}

.ctrlBox-tgtAssets-visibility {
    position: absolute;
    left: 1.3em;
    width: 0.8em;
    height: 0.8em;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--colorA);
}

.ctrlBox-tgtAssets-visibility>.iconSpritesSvg {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-color: var(--colorB);
}

.useKeyEvent-Box {
    position: absolute;
    width: 100%;
    height: 100%;
}

.command_status-box{
    position: absolute;
    left:0;
    bottom: 0;
    right: var(--ctrlbox-width);
    height: var(--command_status_height);
    background-color:var(--colorA);
    padding-left:12px;
    line-height: var(--command_status_height);
    color:var(--colorDT);
    border-top: var(--colorD3) 2px solid;
    border-bottom: var(--colorD3) 2px solid;
}
.command_status-box::before{
    content:">";
}

.contextMenu-main{
    /* temp */
    display: none;
    position: fixed;
    z-index: 10;
    background-color: #f00;
    width: 100px;
    height: 100px;
}