[submodule "js/CtrlLib"]
	url  = https://gitee.com/darth_ef/ctrl-lib
	path = js/import/CtrlLib

[submodule "js/PrimitivesTGT_2D"]
	url  = https://gitee.com/darth_ef/PrimitivesTGT-2D
	path = js/import/PrimitivesTGT_2D

[submodule "js/basics"]
	url  = https://gitee.com/darth_ef/basics
	path = js/import/basics

